/* :focus-visible {
    outline:#EEC552 dotted 5px !important;
} */
.sr-only-focusable:active,.sr-only-focusable:focus-visible{
    position:absolute;
    width:auto;
    height:auto;
    margin:0;
    overflow:visible;
    clip:auto;
    z-index:10
}
.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    clip:rect(0, 0, 0, 0);
    border:0
}
footer{
    /* background:rgb(244, 241, 241) url(../images/bg_footer.svg) no-repeat bottom/contain; */
    background-color: #95959500;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=);
    -webkit-transition: left 500ms;
    transition: left 500ms;
    padding-bottom:55px;
}  
/* .exco_btn{
    position:relative;
    cursor:auto;
    padding-top:40px;
    text-align:center;
    background:none
} */
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Prata&display=swap');

.exco_btn {  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.exco_btn {
  font-family: "Antic Didone", serif;
  font-size: larger;
}

.excoSwitch {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 90px;
  top: 10px;
  background:silver;
  border: 1px solid #141211;
  font-family: "Antic Didone", serif;
  font-size:medium;
  color: #141211;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  border-radius: 30px;
} 

.excoSwitch:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.excoSwitch::before {
  border-radius: 36px; /* outter border radius = inner border radius + distance, so border-radius = 30px + 6px */
  border: 1px solid rgb(13, 14, 14);
}

.excoSwitch:hover::before {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  /* background: rgba(32, 178, 171, 0.219); */
  opacity: 1;
}

.excoSwitch:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 767px) {
	  .btn-container {
	    height: 300px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-direction: column;
	    gap: 30px;	    
	} 
}
.footerAll{
    padding:0;
    width:85%;
    max-width:1600px;
    margin:auto;
    overflow:hidden
}
.footerAll ul{
    display:block;
    list-style:none;
    line-height:180%;
    padding-bottom:10px;
}
.footerAll ul:first-child{
    display:flex;
    flex-wrap:wrap;
    justify-content:start;
    margin:0 -2%
}
.footerAll>ul>li{
    flex:0 1 16.66%;
    padding:0 2%;
    margin-top:32px
}
.footerAll>ul>li>ul{
    font-size:larger;
    margin-bottom:0;
}
.footerAll>ul>li>ul>li{
    margin:0;
}
.footerAll>ul>li>a,.footerAll>ul>li>span{
    display:block;
    font-size:large;
    margin-bottom:10px;
    padding-bottom:10px
}
.footerAll a:focus-visible,.footerAll a:hover{
    color:#007E9B;    
}
.footerAll a:focus-visible{
    outline-offset:-3px
}
.footerItem>a {
    border: 1px solid black;
    border-radius: 7px;
    background: black;
    color: white!important;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none !important;
    padding:0;
    white-space: nowrap;
}
.footerItem>a:hover,
.footerItem>a:focus {
    border: 1px solid black;
    border-radius: 7px;
    background: black;
    color: white !important;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    text-decoration: none !important;
    padding:0;
}
.footerItem>ul>li>a{
    text-decoration: none !important;
}
.footerItem>ul>li>a:hover,
.footerItem>ul>li>a:focus {
    text-decoration: none !important;
}
.footerItem ul a,footer a{
    color:#000;
    position:relative
}
.footerItem a+ul a{
    font-weight:bold;
    display:inline-block;
    font-size:large;
    line-height:1.3;
    padding:0;
}
.footerAll>ul>li>a{
    display:inline-block;
    font-weight:500;
    font-size:large;
    width:100%;
    margin-bottom:7px;
    padding-bottom:0;
    border-bottom:1px solid #000;
}
.footerAll>ul>li>a:hover{
    border-bottom:1px solid #000;
}
.A11yBtn img{
    vertical-align:middle;
    height:45px;
    width:128px;
}
.C,.L,.u,.z{
    color:transparent !important;
    position:absolute;
    z-index:1000;
    outline:none !important;
    color: black !important;
    font-size: 0;
}
.C:focus-visible,.L:focus-visible,.u:focus-visible,.z:focus-visible{
    color: white !important;
    width: 27px;
    height: 21px;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    background: #f1b205;
    text-align: center !important;
    vertical-align: middle !important;
    font-size: medium !important;
    font-weight: 900;
    z-index: 9999;
}
@media screen and (max-width:1500px){
    .footerAll>ul>li{
        flex-basis:20%
    }
}
@media (max-width:1400px){
    .footerAll{
        width:calc(100% - 50px);
        margin-left:auto;
        margin-right:auto
    }
}
@media (max-width:1200px){
    .footerAll>ul>li{
        flex-basis:25%
    }
}
#linkGotoContent{
    margin:5px
}
.C:focus-visible,.L:focus-visible,.u:focus-visible,.z:focus-visible {
    outline:#f1b205 dotted 5px !important;
    text-shadow:1px 1px 1px #fff
}
.C:focus-visible,.L:focus-visible,.z:focus-visible{
    scroll-margin-top:10em
}
.z:focus-visible:focus-visible{
    margin-left:8px
}

.up {
    color: white;
    background-color: transparent;
}

a.up {
  	width: 88px;
  	height: 88px;
  	position: fixed;
  	bottom: 0;
  	right: 0;
  	text-indent: -9999px;
  	z-index: 100;
}

a.up:hover img,
a.up:active img,
a.up:focus img {
    border: none !important;
    /* border: 1px solid rgb(136, 133, 133) !important;   */
    border-radius: 50%; 
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}