@charset "utf-8";
/* CSS Document */
/* Art Tangency Creation - 天井創意 CaGe Wei @art-tangency.com 2020*/
/* ============= Setting ============= */

body {
    width: 100%;
    padding: 0px;
    /* background: #e6e6e6; 2023-05-31 */
    background: white;
}

h1,
h2,
h3 {
    box-sizing: border-box;
    padding: 10px 0px;
    line-height: 140%;
}

h1 {
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.4em;
    font-weight: 400;
}

h3 {
    font-size: 1.1em;
    font-weight: 400;
}

sub {
    font-size: 0.8rem;
}

sup {
    font-size: 0.8rem;
    vertical-align: super;
}

hr {
    height: 1px;
    background: #666;
}

input,
textarea,
select,
option {
    outline: none;
}

input[type="submit"],
input[type="button"] {
    cursor: pointer;
}

.height_F {
    /*Full Height @ at_cage.js*/
}

.height_F2 {
    /*Full Height - header @ at_cage.js*/
}

/* ============= Basic ============= */

.loadPad {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #fff;
    position: fixed;
    top: 0px;
    z-index: 999999;
}

.backTop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: fixed;
    right: 25px;
    bottom: 25px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.60);
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
}

.backTop.action,
.backTop:focus {
    opacity: 1;
}

.backTop::before {
    content: '\f106';
    display: inline-block;
    font: normal normal normal 1.4em FontAwesome;
    color: #999;
    width: inherit;
    height: inherit;
    line-height: inherit;
    text-align: center;
    vertical-align: top;
}

.backTop:hover {
    background-color: rgba(0, 0, 0, 1.00);
}

.backTop:hover::before {
    color: #fff;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea {
    padding: 2px 5px;
    line-height: 30px;
    border: thin solid #acacac;
}

input[type='radio'] {
    width: 30px;
    height: 30px;
    margin: 5px;
}

input[type='submit'] {
    padding: 5px 20px;
    background: #333;
    color: #fefefe;
    font-size: 14px;
    line-height: 160%;
}

input[type='submit']:hover {
    background: rgb(126, 9, 73);
    color: #fff;
}

select {}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    color: #999;
}

::-moz-placeholder {
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

/* Model */

.abtn_topmain {}

.CG_yt169 {
    position: relative;
    height: 0px;
    overflow: hidden;
    padding: 0px 0px 56.25%;
}

/*Youtube*/

.CG_yt169 iframe,
.CG_yt169 object,
.CG_yt169 embed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.CG_scorll::-webkit-scrollbar {
    width: 5px;
}

.CG_scorll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -o-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.CG_scorll::-webkit-scrollbar-thumb {
    background-color: #85d7d1;
    outline: 1px solid slategrey;
}

.switchImage {}

.switchImage img:first-child {
    display: block;
}

.switchImage img:last-child {
    display: none;
}

/*RWD Image*/

@media only screen and (max-width: 640px) {

    .switchImage img:first-child {
        display: none;
    }

    .switchImage img:last-child {
        display: block;
    }
}

.htmlEditor {
    width: 96%;
    margin: 10px auto;
    line-height: 180%;
    vertical-align: baseline;
}

.htmlEditor h2,
.htmlEditor h3,
.htmlEditor h4,
.htmlEditor h5 {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 1.1rem;
}

.htmlEditor p,
.htmlEditor blockquote {
    margin-bottom: 1em;
}

.htmlEditor b {
    font-weight: 700;
    vertical-align: baseline;
}

.htmlEditor i {
    font-style: italic;
    vertical-align: baseline;
}

.htmlEditor i,
.htmlEditor u,
.htmlEditor strong {
    vertical-align: baseline;
}

.htmlEditor ul,
.htmlEditor ol {
    padding-left: 1.5em;
}

.htmlEditor ul>li {
    list-style: disc;
}

.htmlEditor ol>li {
    list-style: decimal;
}

.htmlEditor blockquote {
    text-indent: 2em;
}

.htmlEditor a {
    word-break: break-all;
    vertical-align: baseline;
}

.htmlEditor img {
    max-width: 720px;
    width: 100%;
}

/* A+ */

.abtn_topmain {
    position: absolute;
    padding: 5px 1em;
    z-index: 99;
    left: -100em;
    color: #000;
}

.abtn_topmain:hover {
    color: rgb(126, 9, 73);
}

.abtn_topmain:focus {
    left: 2%;
    color: rgb(126, 9, 73);
}

/* Main */

#main {
    margin: 0px;
    width: 100%;
    background: none;
    position: relative;
}

.mainCont {
    width: 100%;
    max-width: 990px;
    /* max-width: 95%;  2023-05-32 */
    margin: 0px auto;
    background: #fff;
}

.mainLeft {
    padding-top: -40px;
    vertical-align: top;
}

.mainRight {
    padding-top: 112px;
    width: 800px;
    vertical-align: top;
}

.mainLeft>div {
    width: 180px;
    margin: 0px 0px 0px 10px;
    position: relative;
}

.mainLeft>div.subMenu {
    margin-bottom: 20px; 
}

.subMenu a {
    color: #222;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.subMenu a:hover,
.subMenu a:active,
.subMenu a:focus {
    /* color: #333; 2023-05-31  */
    color: white;
}

.subMenu>dl>dt {
    height: 70px;
    padding: 14.5px 0px 14px !important;
    margin-bottom: 16px !important; 
}

.subMenu>dl>dt a {
    position: absolute;
    z-index: 99;
}

.subMenu>dl>dt .titleName {
    width: auto;
    height: 40px;
    /* height: 45px; */
}

.subMenu>dl>dd {
    /* width: 170px; */
    width: 185px;
    border-bottom: 1px dashed #ccc;
    /* padding: 10px 0px 10px 15px; */
    padding: 10px 0px 10px 10px;
    margin-left: 0px;
    background-color: #92CED8;
}

.subMenu>dl>dd:hover {
    /* background-color: #ECECEC; 2023-05-31 */
    background-color: #6CB8EF;
}

.subMenu>dl>dd i {
    margin-right: 10px;
}

.subMenu>dl>dd.secCtrl>a>i {
    margin-right: 7px;
}


.secCtrl>a:hover,
.secCtrl>a:active,
.secCtrl>a:focus,
.secMenu>a:hover,
.secMenu>a:active,
.secMenu>a:focus,
dd>a:hover,
dd>a:active,
dd>a:focus {    
    border: 0px dotted white !important;
}

.subMenu>dl>dd.secCtrl.action {
    /* background: #ececec; 2023-05-31 */
    background: #05A2B7;
}

.subMenu>dl>dd.secCtrl.action>a {
    /* color: #333; 2023-05-31 */
    color: white;
}

.subMenu>dl>dd.secCtrl.action>a>i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.subMenu>dl>dd.secCtrl .secMenu {
    display: none;
    padding-top: 5px;
    padding-left: 10px;
    font-size: 0.9em;
}

.subMenu>dl>dd.secCtrl.action .secMenu {
    display: block;
}

.subMenu>dl>dd.secCtrl .secMenu a {
    padding: 5px 0px;
}

.subMenu>dl>dd.secCtrl .secMenu a:hover {
    text-decoration: underline;
}

.mobilePlusMenu {
    display: none;
}

.mobilePlusMenu a {
    color: #999;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mobilePlusMenu a:hover {
    color: #333;
}

.mobilePlusMenu>ul>li {
    width: 100%;
    border-bottom: 1px dashed #ccc;
    padding: 10px 0px 10px 15px;
    margin-left: 0px;
}

.mainLeft>div.leftBanner {
    width: 170px;
    padding: 10px 0px;
    margin-left: 10px;
}

.leftBanner a {
    display: block;
    margin-bottom: 10px;
}

.mainLeft>div.counterPad {
    font-size: 0.8em;
    text-align: center;
    color: #aaa;
    padding-bottom: 20px;
}

.counterPad p {
    margin-right: 5%;
}

.pageContPad {
    width: 100%;
    position: relative;
    padding: 0px 1% 20px;
}

.pageContPad .breadcrumbs {
    width: 100%;
    padding: 0px 10px;
    margin: 10px 0px;
}

.breadcrumbs a,
.breadcrumbs2 a {
    color: #999;
    display: inline-block;
}

.breadcrumbs a:hover,
.breadcrumbs2 a:hover {
    color: rgb(126, 9, 73);
}

.breadcrumbs>dl>dt,
.breadcrumbs>dl>dd {
    display: inline-block;
    line-height: 120%;
    color: #999;
    margin-right: 5px;
}

.breadcrumbs2>dl>dt,
.breadcrumbs2>dl>dd {
    display: inline-block;
    text-indent: 0.7em;
    line-height: 100%;
    color: #999;
    margin-right: 0px;
}

.breadcrumbs>dl>dd::before {
    content: '\f105';
    font-family: FontAwesome;
    margin-right: 5px;
}

/* .breadcrumbs2>dl>dd::before {
    content: '\f0ed';
    font-family: FontAwesome;
    margin-right: 1px;
} */

.breadcrumbs>dl>dt {
    font-size: 0.85em;
}

.breadcrumbs>dl>dd {
    font-size: 0.9em;
}

breadcrumbs2>dl>dd {
    font-size: 0.55em;
}

breadcrumbs2>dl>dd {
    font-size: 0.5em;
}

.pageContPad .pageCont {
    width: 100%;
    padding: 0px 10px;
}

.pageCont>h1,
.pageCont>h2 {
    font-size: 1.2rem;
    color: rgb(126, 9, 73);
    font-weight: 700;
    border-bottom: 1px solid #cecece;
}

.pageCont>h1::after,
.pageCont>h2::after {
    content: '';
    clear: both;
    width: 100%;
    display: block;
}

.pageCont>h1 i,
.pageCont>h2 i {
    margin-right: 5px;
    font-size: 0.8em;
    color: rgb(126, 9, 73);
}

.pageCont.pg_index>h2 {
    border-bottom: none;
}

.pageCont .ctrlPad {
    padding: 20px 0px 10px;
    text-align: center;
}

.pageCont .ctrlPad input[type=submit] {
    padding: 5px 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.contFt {
    width: 100%;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.contFt::after {
    content: '';
    clear: both;
    width: 100%;
    display: block;
}

.contFt a {
    font-size: 0.7rem;
    color: #999;
    display: inline-block;
    margin-right: 15px;
    vertical-align: bottom;
}

.contFt a:hover {
    color: rgb(126, 9, 73);
}

.contFt a>i {
    margin-right: 5px;
}

.contFt_date {
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
    color: #999;
    padding-top: 10px;
    padding-right: 15px;
}

/* Date Use */
.cssTable>dl>dd a:hover,
.cssTable>dl>dd a:active,
.cssTable>dl>dd a:focus {  
    border: 1px dotted rgb(206, 209, 207) !important;
    text-decoration: underline;
}

.cssTable.dateList {
    width: 100%;
    font-size: 1rem;
}

.cssTable.dateList>ul>li,
.cssTable.dateList>dl>dt,
.cssTable.dateList>dl>dd {
    padding: 10px 5px;
    line-height: 140%;
}

.cssTable.dateList>ul>li:first-child,
.cssTable.dateList>dl>dd:first-child {
    width: 9em;
    color: #666;
}

.cssTable.dateList>ul>li:first-child::before,
.cssTable.dateList>dl>dd:first-child::before {
    content: '。';
    font-size: 0.8em;
    margin-right: 5px;
}

.cssTable.dateList>ul>li:nth-child(2),
.cssTable.dateList>dl>dd:nth-child(2) {
    color: rgb(32, 87, 182);
    text-align: left;
}

.cssTable.dateList>dl>dt {
    background: #666;
    color: #fff;
    line-height: 110%;
    letter-spacing: 1px;
    vertical-align: middle;
}

.cssTable.dateList>dl:nth-child(odd)>dd {
    background: #ececec;
}

/* Colspan Table */

.cssTable.dataTable {
    font-size: 1rem;
    line-height: 140%;
}

.cssTable.dataTable>ul>li {
    padding: 0px 5px;
    vertical-align: middle;
    border-bottom: 1px solid #666;
}

.cssTable.dataTable>ul>li>p {
    margin: 1em 0;
}

.cssTable.dataTable li dl>dt,
.cssTable.dataTable li dl>dd {
    width: 50%;
    padding: 1em;
    vertical-align: middle;
}

.cssTable.dataTable>ul>li,
.cssTable.dataTable li dl>dt {
    border-right: 1px solid #666;
}

.cssTable.dataTable>ul>li:last-child {
    border-right: none;
}

/* Table List Use */

table,
.cssTable.tableList {
    width: 100%;
    font-size: 0.9rem;
    border-bottom: 1px solid #ececec;
}

table th,
table td,
.cssTable.tableList>dl>dt,
.cssTable.tableList>dl>dd {
    padding: 5px;
    font-size: 1rem;
}

table th,
.cssTable.tableList>dl>dt {
    background: #666;
    color: #fff;
    line-height: 110%;
    letter-spacing: 1px;
    vertical-align: middle;
}

table td,
.cssTable.tableList>dl>dd {
    padding: 8px 5px;
}

table tr:nth-child(odd) td,
.cssTable.tableList>dl:nth-child(odd)>dd {
    background: #ececec;
}

/* 2022-03-01 */
table.table-bordered2 {
    margin-top: 20px;
}

table.table-bordered2>tbody>tr>td {
    border: 1px solid #8c8c8c;
    background: white;
}

table.table-bordered2 tr:nth-child(even) td:first-child {
    background: #f0f0f0;
}

table.table-bordered2 tr:nth-child(even) td:last-child {
    background: #f0f0f0;
}

table.table-bordered2 a.tlink:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

table.table-bordered2 a.tlink:visited {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

table.table-bordered2 a.tlink:hover {    
    text-decoration: underline;
    color: rgb(126, 9, 73);
}

/* 2022-03-11 */
table.table-bordered2 a.tlink2:link {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

table.table-bordered2 a.tlink2:visited {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

table.table-bordered2 a.tlink2:hover {
    text-decoration: underline;
    color: rgb(126, 9, 73);
}

hr {
    background: #ccc;
    margin: 10px 0px 15px;
    clear: both;
}

a {
    color: rgb(32, 87, 182);
    text-decoration: none;
}

/* a:hover,
a:active,
a:focus {
    border: 1px dashed rgb(2, 245, 2);
    /* border-radius: 2px; */
    /* color: rgb(126, 9, 73);
    outline: 0;
    text-decoration: none;
} */

li a {    
    color: rgb(32, 87, 182) !important;
    text-decoration: none !important;
}

li a:hover,
li a:active,
li a:focus {    
    /* border: 1px solid rgb(2, 245, 2) !important; */
    color: rgb(126, 9, 73) !important;
    outline: 0 !important;
    text-decoration: underline !important;
}

a:hover img,
a:active img,
a:focus img {  
    border: thin dashed rgb(218, 214, 214) !important;
}

a.btn_more {
    color: #999;
    float: right;
    clear: both;
    padding-bottom: 5px;
}

a.btn_more::before {
    /* content: 'more'; */
    margin-right: 5px;
    font-size: 0.8em;
}

a.btn_more i {
    vertical-align: middle;
}

a.btn_more:hover {
    color: rgb(126, 9, 73);
}

/* ============= Index ============= */

.index {}

/* ============= Inner ============= */
/* About */

.pageCont.pg_about {}

/* QA */

.pageCont.pg_qa {}

.qaPad {
    width: 98%;
    margin: 10px auto;
}

.qaPad>dl>dt,
.qaPad>dl>dd {
    padding: 5px;
    font-size: 0.9em;
}

.qaPad>dl>dt {
    border-bottom: 1px dashed #ddd;
}

.qaPad>dl>dd {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.qaPad>dl>dt>i,
.qaPad>dl>dd>i {
    margin-right: 10px;
    font-size: 1.1em;
}

.qaPad>dl>dt>i {
    color: rgb(126, 9, 73);
}

.qaPad>dl>dd>i {
    color: #69EBBC;
}

/* Sitemap*/

.pageCont.pg_sitemap {}

.sitemapPad {
    width: 96%;
    margin: 10px auto;
}

.sitemapPad>dl {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
    font-size: 1.1rem;
}

.sitemapPad>dl>dt,
.sitemapPad>dl>dd {
    padding: 5px;
}

.sitemapPad>dl>dt {
    color: #3C93E4;
}

.sitemapPad>dl>dt>a {
    text-decoration: underline;
}

.sitemapPad>dl>dd {
    padding-left: 1.3em;
}

.sitemapPad .secCtrl>a {
    color: #333;
    pointer-events: none;
}

.sitemapPad .secCtrl .secMenu {
    display: inline-block;
    padding-left: 1em;
}

.sitemapPad .secCtrl .secMenu a {
    padding-bottom: 10px;
    margin-right: 1em;
}

/* News */

.pageCont.pg_newsList {}

.pg_newsList .dateList {
    margin-top: 15px;
}

/* Datasheet*/

.pageCont.pg_datasheetlist {}

.pg_datasheetlist .dateList {
    width: 96%;
    margin: 10px auto;
}

/* past results */

.pageCont.pg_past_results {}

.past_resultsList {
    width: 96%;
    margin: 10px auto;
}

.past_resultsList>dl>dt,
.past_resultsList>dl>dd {
    padding: 5px;
    color: #666;
}

.past_resultsList>dl>dt {
    padding-top: 15px;
}

.past_resultsList>dl>dd {
    padding-left: 25px;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #acacac;
}

.past_resultsList>dl>dd:last-child {
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}

.past_resultsList h2>i,
.past_resultsList>dl>dt>i,
.past_resultsList>dl>dd>i {
    margin-right: 5px;
}

.past_resultsList h2>i,
.past_resultsList>dl>dt>i {
    color: rgb(126, 9, 73);
}

.past_resultsList>dl>dd>i {
    color: rgb(32, 87, 182);
}

.past_resultsList>dl>dd>span,
.past_resultsList>dl>dd>a {
    line-height: 140%;
}

.past_resultsList .cssTable {
    width: 100%;
    margin: 0px auto;
}

.past_resultsList .cssTable li,
.past_resultsList .cssTable td,
.past_resultsList .cssTable th {
    line-height: 160%;
    padding: 1em 5px;
    vertical-align: middle;
}

.past_resultsList .cssTable li:first-child,
.past_resultsList .cssTable td:first-child {
    width: 43%;
}

.past_resultsList .cssTable ul:nth-child(even) li,
.past_resultsList .cssTable tr:nth-child(even) td {
    background-color: #fafafa;
}

.past_resultsList .cssTable ul li:nth-child(2),
.past_resultsList .cssTable tr td:nth-child(2) {
    text-align: center;
}

.past_resultsList .cssTable ul:first-child li,
.past_resultsList .cssTable tr:first-child th {
    padding: 5px;
    background-color: #85d7d1;
    color: #000;
}

.past_resultsList .cssTable ul:last-child li,
.past_resultsList .cssTable tr:last-child td {
    border-bottom: 1px solid #cecece;
}

/* Teaminfo */

.pg_teaminfo .cssTable {
    width: 100%;
}

.pg_teaminfo .cssTable li {
    line-height: 140%;
    color: #535353;
    padding: 0.9rem 5px;
    border-bottom: 1px solid #aaa;
}

.pg_teaminfo .cssTable li:nth-child(1),
.pg_teaminfo .cssTable li:nth-child(2) {
    color: #111;
}

/* Video */

.pageCont.pg_video {}

.pg_video .videoListPad {
    width: 100%;
    padding-top: 20px;
}

.pg_video .videoListPad>ul {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 40px;
}

.pg_video .videoListPad>ul:nth-child(even) {
    margin-right: 0px;
}

.pg_video .videoListPad>ul>li {
    font-size: 1rem;
    color: #666;
}

.pg_video .videoListPad>ul>li:nth-child(1) {
    color: #333;
}

.pg_video .videoListPad>ul>li:nth-child(2) {
    padding-bottom: 5px;
}

.pg_video .videoListPad>ul>li:nth-child(3) {}

.pg_video .videoListPad>ul>li:nth-child(4) {
    text-align: right;
    font-size: 0.9em;
    background: #ececec;
    padding: 5px;
}

.pg_video .videoListPad>ul>li>span {
    font-size: 0.8em;
    color: #999;
    margin-right: 8px;
}

/* Events */

.pageCont.pg_events {}

.pg_events .tableList {}

.pg_events .tableList th:nth-child(4),
.pg_events .tableList>dl>dt:nth-child(4) {
    width: 5em;
}

.pg_events .tableList th:nth-child(5),
.pg_events .tableList>dl>dt:nth-child(5) {
    width: 3em;
}

.pg_events .tableList td:nth-child(2),
.pg_events .tableList>dl>dd:nth-child(2) {
    width: 8.5em;
    color: #666;
    vertical-align: middle;
}

.pg_events .tableList>dl>dd:nth-child(3) {}

.pg_events .tableList td:nth-child(4),
.pg_events .tableList>dl>dd:nth-child(4) {
    width: 0.9em;
    text-align: center;
}

.pg_events .tableList td:nth-child(5),
.pg_events .tableList>dl>dd:nth-child(5) {
    text-align: center;
    vertical-align: middle;
    font-size: 1.2em;
}

/* Links */

.pageCont.pg_links {}

.pg_links>.cssTable {}

.pg_links>.cssTable>dl>dt,
.pg_links>.cssTable>dl>dd {}

.pg_links>.cssTable>dl>dd a {
    font-size: 0.8em;
}

/* Contact */

.pageCont.pg_contact {}

.pg_contact .cssTable {
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

.pg_contact .cssTable>dl>dt,
.pg_contact .cssTable>dl>dd {
    padding: 8px 5px;
    border-bottom: 1px dashed #cecece;
}

.pg_contact .cssTable>dl:last-child>dt,
.pg_contact .cssTable>dl:last-child>dd {
    border-bottom: none;
}

.pg_contact .cssTable>dl>dt {
    background: #eee;
    color: #666;
    text-align: center;
}

.pg_contact .cssTable>dl>dd {
    background: #fafafa;
}

.pg_contact .cssTable>dl>dd input,
.pg_contact .cssTable>dl>dd textarea {
    width: 100%;
    font-size: 0.9rem;
    color: #333;
    border: none;
    background: none;
}

.pg_contact .cssTable>dl>dd textarea {
    min-height: 60px;
    resize: none;
}

/* ============= Header ============= */

#header {
    width: 100%;
    height: 112px;
    color: #999;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
}

.headerTopBar {
    width: 100%;
    /* height: 40px; 2023-05-31 */
    height: 50px;
    background: #92CED8;
}

.headerTopCont {
    /* max-width: 960px; */
    max-width: 940px;
    /* max-width: 95%; 2023-05-31 */
    width: 100%;
    margin: 0px auto;
}

.headerConts {
    max-width: 780px;
    width: calc(100% - 180px);
    margin: 0px auto 0px 180px;
    text-align: center;
    border-bottom: 2px solid #aaa;
    position: relative;
}

.headerConts a {
    color: #666;
}

.headerConts a:hover {
    color: #000;
}

.bg_movieclip>ul {
    position: relative;
    width: 100%;
    height: 0px;
}

.bg_movieclip>ul>li {
    position: absolute;
}

.bg_movieclip>ul>li:nth-child(1) {
    background: url(../images/mc_birds1.png) no-repeat;
    width: 92px;
    height: 85px;
    top: -30px;
    left: 260px;
}

.bg_movieclip>ul>li:nth-child(2) {
    background: url(../images/mc_cloude1.png) no-repeat;
    width: 128px;
    height: 41px;
    top: -30px;
    right: 10px;
}

.headerLogoPad {
    float: left;
    padding: 14px 0px;
}

/* .headerLogoPad>a:hover img,
.headerLogoPad>a:active img,
.headerLogoPad>a:focus img{    
    border: 1px dashed rgb(3, 250, 52) !important;
} */
 
.headerLogoPad .logo {
    width: auto;
    height: 40px;
    padding-top: 5px;
}

.headerMenu {
    float: right;
    padding-top: 0px;
}

.headerMenu::before {
    content: '';
    width: 73px;
    height: 46px;
    display: inline-block;
    vertical-align: bottom;
    background: url(../images/mc_tree_sakura.png) no-repeat;
}

.headerMenu>ul {
    display: inline-block;
    margin-bottom: 5px;
}

.headerMenu>ul>li {
    display: inline-block;
    font-size: 0.9em;
    line-height: 120%;
    padding: 2px 10px;
    border-right: 1px solid #aaa;
}

.headerMenu>ul>li>a>img {
    margin-right: 0px;
    width: 36px;
    height: 36px;
    padding: 1px;
}

.headerMenu>ul>li:last-child {
    border-right: none;
}

.optionalstuff>form>div {
    display: block;
    margin: 15px 50px 0 5px;
}

.optionalstuff>ul {
    display: inline-block;
    margin-top: 5px;
}

.optionalstuff>ul>li {
    display: inline-block;
    font-size: 0.9em;
    line-height: 120%;
    padding: 2px 10px;
    border-right: 1px solid #aaa;
}

.optionalstuff>ul>li>a>img {
    margin-right: 0px;
    width: 36px;
    height: 36px;
    padding: 1px;
}

.optionalstuff>ul>li:last-child {
    border-right: none;
}

img.leftMenu {
    display: block;
}

dd.leftMenu {
    display: inline-block;
}

.nav {
    display: none;
    z-index: 999;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0px;
    left: 10px;
    pointer-events: all;
}

.nav.action {
    background-color: rgba(255, 255, 255, 0.7);
}

.nav i,
.nav::before,
.nav::after {
    width: 80%;
    height: 2px;
    left: 10%;
    position: absolute;
    background: #fff;
}

.nav.action i,
.nav.action::before,
.nav.action::after {
    background: #666;
}

.nav i {
    top: calc(50% - 1px);
    opacity: 1;
}

.nav.action i {
    opacity: 0;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.nav::before {
    content: '';
    top: calc(30% - 1px);
}

.nav.action::before {
    top: calc(50% - 1px);
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.nav::after {
    content: '';
    top: calc(70% - 1px);
}

.nav.action::after {
    top: calc(50% - 1px);
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}

.nav,
.nav.action,
.nav::after,
.nav.action::after,
.nav::before,
.nav.action::before {
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* ============= Footer ============= */

#footer {
    width: 100%;
    /* background: #333; 2023-05-31 */
    background: #3E7A8C;
    color: #fff;
}

.footerButtomBar {
    width: 100%;
    height: 20px;
    background: #3E7A8C;
}

.footerCont {
    max-width: 980px;
    width: 100%;
    line-height: 140%;
    margin: 0px auto;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    border: none;
}

.footerCont .address {
    font-size: 0.9rem;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footerCont a {
    /* color: #aaa; 2023-05-31 */
    color: #d9f1f3;
}

.footerCont a:hover {
    /* color: #C1D7FF; 2023-05-31 */
    color: white;
}

.footLinks {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin-bottom: 15px; 2023-05-31 */
    margin-bottom: 0;
    background: #232323;
}

.footLinks a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0px 5px;
    font-size: 0.9em;
    color: #cecece;
}

.footLinks a i {
    margin-bottom: 2px;
    display: block;
    font-size: 1.4em;
    color: #cecece;
}

.footLinks a:hover {
    color: white;
}

.footLinks a:hover i {
    color: white;
}

.footLinks a:nth-child(1) i::before {
    content: '\f2ba';
}

.footLinks a:nth-child(2) i::before {
    content: '\f023';
}

.footLinks a:nth-child(3) i::before {
    content: '\f2a8';
}

.footLinks a:nth-child(4) i::before {
    content: '\f1ab';
}

.copyright {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid #666;
}

.copyright br {
    display: none;
}

.address br {
    display: none;
}

.osusumeBrowser {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 20px;
}

/* search-Start */
.search-form-wrapper {
    font-size: 0.9rem;
    z-index: 999;
    display: block;
    position: absolute;
    width: 355px;
    /* 調水平位置
    left: 59%; */
    right: 7px;
    padding-top: 3px 0;
    /* 調與TOP距離
    margin-top: 112px; */
    margin-top: -9px;
    background: #f7f5f578;
    border-radius: 8px;
}

.search-form-wrapper.open {
    display: block;
}

.input-group-addon {
    background: #92b4f3;
}

.input-group {
    height: 32px;
    left: 5px;
}

.input-group #search_e {
    width: 55%;
    height: 86%;
    margin-top: -2px;
    border-radius: 3px;
}

.input-group #search_e:focus {
    background-color: #9AE22E;
    color: #243f5f;
}

.input-group #search_in_e:focus {
    background-color: #9AE22E;
    color: #243f5f;
}

#search-bar_e,
#search-left_e,#adv-search-bar_e,
#adv-search-left_e {
    width: 48px;
    height: auto;
    border: 0;
    padding: 5px 10px;
    border-radius: 3px;
    color: #faf9fa;
    background: #4D90FE;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

#search-bar,
#search-left, 
#adv-search-bar,
#adv-search-left {
    width: 50px;
    height: auto;
    border: 0;
    padding: 6px 11px;
    border-radius: 3px;
    color: #faf9fa;
    background: #4D90FE;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

#search-bar_e:hover,
#search-left_e:hover,
#search-bar:hover,
#search-left:hover, #adv-search-bar_e:hover,
#adv-search-left_e:hover,
#adv-search-bar:hover,
#adv-search-left:hover {
    border: 1px dashed rgb(245, 233, 5);
    background: #0462f9;
}

/* search bar-Enfd*/
/* 圓標外框 */
.circle {
    display: block;
    float: left;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    padding: 2%;
    margin: 0.2rem;
    border-radius: 50%;
}
a:hover span.circle,
a:active span.circle,
a:focus span.circle,
a:hover .cloud-bk,
a:active .cloud-bk,
a:focus .cloud-bk,
a:hover .a1,
a:active .a1,
a:focus .a1 {
    /* border: 3px solid rgb(245, 145, 4); */
    background-color: #05bada;
}
.leftbanner .circle2 img{
    display: block;
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}
a:hover span.circle2 img,
a:active span.circle2 img,
a:focus span.circle2 img {
    border: none !important;
    border: thin dashed rgb(218, 214, 214) !important;
}

.circle>div.f_lang {
    font-size: .8em;
    font-weight: bold;
    color: white;
}

.circle>div.f_fb {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.c_lang {
    background-color: #6CB8EF;
}

.c_fb {
    background-color: #3B5998;
}

.c_line {
    background-color: GREEN;
}

.c_search {
    background-color: gray;
}

.c_lang:hover {
    border: 2px dashed rgb(247, 230, 3);
    /* background-color: #f69206; */
    background-color: #92CED8;
}

.c_fb:hover {
    border: 2px dashed rgb(247, 230, 3);
    /* background-color: #f18280; */
    background-color: #92CED8;
} 

.c_line:hover {
    border: 2px dashed rgb(247, 230, 3);
    /* background-color: #f18280; */
    background-color: #92CED8;
} 

.c_search:hover {
    border: 2px dashed rgb(247, 230, 3);
    background-color: #0462f9;
}

.circle>div.f_line {
    font-size: .8em;
    font-weight: bold;
    color: white;
}

.circle>div.f_search {
    font-size: .8em;
    color: white;
}

/* 圓標內容 */
.circle>div {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: .8em;
    color: white;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* dropdown-Start */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 1.1em;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 7px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p strong a {
    display: block;
    /* left */
    text-align: justify;
    color: #333;
    border-bottom: 1px dashed #ccc;
    margin: 10px 5px;
}

p strong a:hover {
    background-color: #92CED8;
    color: #fff;
}

/* dropdown-End */
/* EPA OpenData */

@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);

.a1 {
    width: 100%;
    height: 100%;
    /* display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0; */
    text-align: center;
    overflow: hidden;
    font-size: 4.5em;
    font: bold 1.5vw/1.6 'Signika', sans-serif;
    user-select: none;
    padding: 3px;
    text-align: center;
    border-width: 1px;
    border-style: dashed;
    border-color: #069606;
    border-radius: 5px;
    background-image: url("../images/banner03.png");
    background-position: center;
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
}

.a1 span {
    display: inline-block;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: none;
    }

    33% {
        transform: translateY(-1px) rotate(-2deg);
    }

    66% {
        transform: translateY(1px) rotate(2deg);
    }
}

.a1:hover span {
    animation: bounce 8s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(0);
    }

    25% {
        transform: rotateX(20deg) translateY(2px) rotate(-3deg);
    }

    50% {
        transform: translateY(-20px) rotate(3deg) scale(1.1);
    }
}

.a1 span:nth-child(4n) {
    color: hsl(50, 75%, 55%);
    text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%);
}

.a1 span:nth-child(4n-1) {
    color: hsl(135, 35%, 55%);
    text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%);
}

.a1 span:nth-child(4n-2) {
    color: hsl(155, 35%, 60%);
    text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%);
}

.a1 span:nth-child(4n-3) {
    color: hsl(30, 65%, 60%);
    text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%);
}

.a1 span:nth-child(2) {
    animation-delay: 0.5s;
}

.a1 span:nth-child(3) {
    animation-delay: 1s;
}

.a1 span:nth-child(4) {
    animation-delay: 1.5s;
}

.a1 span:nth-child(5) {
    animation-delay: 2s;
}

.a1 span:nth-child(6) {
    animation-delay: 2.5s;
}

.a1 span:nth-child(7) {
    animation-delay: 3s;
}

.a1 span:nth-child(8) {
    animation-delay: 3.5s;
}

.a1 span:nth-child(9) {
    animation-delay: 4s;
}

.a1 span:nth-child(10) {
    animation-delay: 4.5s;
}

.a1 span:nth-child(11) {
    animation-delay: 5s;
}

.a1 span:nth-child(12) {
    animation-delay: 5.5s;
}

.a1 span:nth-child(13) {
    animation-delay: 6s;
}

.a1 span:nth-child(14) {
    animation-delay: 6.5s;
}

/* cloud-text */

div .cloud-bk {
    background-image: url("../images/banner02.png");
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
    border-width: 1px;
    border-style: dashed;
    border-color: #069606;
    border-radius: 5px;
}

.cloud-text {
    /* font-family: 'Coiny', cursive; */
    font-family: "Heiti TC", Microsoft JhengHei, "Arial Black", LiHei Pro;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(../images/clouds.jpg);
    background-size: auto;
    background-attachment: unset;
    background-position: 0%;
    font-size: 7em;
    font: bold 2.3vw/1.6 "LiHei Pro Medium", "Apple LiGothic Medium", "Noto Sans TC", "Microsoft JhengHei", "SimHei";
    user-select: none;
    padding: 5px;
    text-align: center;
    animation: clouds-moving infinite 2200s;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: linear;
    text-align: center;
}

@keyframes clouds-moving {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

.attribute {
    position: relative;
    font-size: 28px;
    text-align: center;
}

@media only screen and (max-width: 740px) {

    #header {
        position: fixed;
    }

    .headerConts {
        width: 100%;
        margin: 0px auto;
        background: #fff;
    }

    .headerLogoPad {
        width: calc(100% - 100px);
        max-width: 300px;
    }

    /* .headerLogoPad>a:hover img,
    .headerLogoPad>a:active img,
    .headerLogoPad>a:focus img{    
        border: 2px dotted rgb(3, 250, 52) !important;
    } */

    .headerLogoPad .logo {
        width: 100%;
        height: auto;
        padding-top: 5px;
    } 

    .headerMenu>ul>li {
        display: none;
    }

    /* search-bar */
    .search-form-wrapper {
        display: none;
        background: #d8830d00;
    }

    .input-group {
        display: none;
    }

    /* search-bar */
    .bg_movieclip>ul>li:nth-child(1) {
        left: 40%;
    }

    .mainLeft {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        padding-top: 0px;
        position: fixed;
        top: 0px;
        left: -100%;
        opacity: 0;
        z-index: 9;
        overflow-y: auto;
    }

    .mainLeft.action {
        left: 0px;
        opacity: 1;
    }

    .mainLeft>div {
        width: 90%;
        margin: 0px auto;
    }

    .subMenu>dl>dt {
        height: 50px;
        padding: 5px 0px 6px;
        margin-bottom: 10px;
        background-color: #fff;
        width: 90%;
        position: fixed;
        top: 0px;
        left: 5%;
    }

    .subMenu>dl>dt a {
        right: 0px;
    }

    .subMenu>dl>dt+dd {
        margin-top: 50px;
    }

    .subMenu>dl>dd {
        /* width: 100%; */
        width: 170px;
        border-bottom: 1px dashed #ccc;
        /* padding: 10px 0px 10px 15px; */
        padding: 10px 0px 10px 10px;
        margin-left: 0px;
        background-color: #92CED8;
    }

    .mainLeft>div.mobilePlusMenu {
        display: block;
        margin-bottom: 20px;
    }

    .leftBanner a {
        display: none;
    }

    .htmlEditor a {
        word-break: break-all;
    }

    .htmlEditor img {
        max-width: 100%;
        height: auto;
    }

    /* Header */
    .nav {
        display: block
    }

    .nav.action {}

    /* footer */
    .footLinks {
        width: 100%;
        /* margin: 0px auto 15px; 2023-05-31 */
        padding-bottom: 5px;
        margin: 0px auto;        
        background: #232323;
    }

    .footLinks a {
        width: calc(49% - 12px);
        font-size: 0.8rem;
        color: #cecece;
    }

    .footLinks a:hover {
        color: white;
    }

    .copyright br {
        display: block;
    }

    .address br {
        display: block;
    }

    /* 當 Mobile 隱藏，當 Desktop 時才顯現 */
    img.leftMenu {
        display: none;
    }

    dd.leftMenu {
        display: none;
    }

    tr.leftMenu {
        display: none;
    }

    .a1 {
        width: 100%;
        height: 100%;
        /* display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px 0; */
        text-align: center;
        overflow: hidden;
        font-size: 5em;
        font: bold 4.2vw/1.6 'Signika', sans-serif;
        user-select: none;
        padding: 5px;
        text-align: center;
        border-width: 1px;
        border-style: dashed;
        border-color: #069606;
        border-radius: 5px;
        background-image: url("../images/banner01.png");
        background-position: center;
        background-repeat: no-repeat;
        /* Resize the background image to cover the entire container */
        background-size: cover;
    }
    .subMenu>dl>dt {
            height: 70px;
            padding: 16px 0px 16px;
            margin-bottom: 20px; 
    }
    .subMenu>dl>dt .titleName {
        width: auto !important;
        height: 40px !important;
    }
    
    .subMenu>dl>dd {
        width: 170px;
        border-bottom: 1px dashed #ccc;
        /* padding: 10px 0px 10px 15px; */
        padding: 10px 0px 10px 10px;
        margin-left: 0px;
        background-color: #92CED8;
    }
}

/* 當 Desktop 隱藏，當 Mobile 時才顯現 */

@media (min-width:741px) {
    img.optionalstuff {
        display: none;
    }

    dd.optionalstuff {
        display: none;
    }

    tr.optionalstuff {
        display: none;
    }

    .optionalstuff>form>div {
        display: none;
    }

    .optionalstuff>ul>li>a {
        display: none;
    }

    .optionalstuff>ul>li>a>img {
        display: none;
    }
}


@media print {
    .headerMenu {
        display: none;
    }

    .search-form-left {
        display: none;
    }

    .optionalstuff {
        display: none;
    }


    .mainLeft>div>dl>dd {
        display: none;
    }

    img.optionalstuff {
        display: none;
    }

    .leftBanner a {
        display: none;
    } 

    .contFt, .footLinks, .copyright, .osusumeBrowser a {
        display: none;
    }
}