.htmlEditor .btn {
  width: 88%;
  border: none;
  font-family: 'Lato';
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 13px 80px;
  display: inline-block;
  margin: 8px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5% / 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.htmlEditor .btn:after {
  width: 88% !important;
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
.htmlEditor .btn:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
/* Button 1 */
.htmlEditor .btn-1 {
  /* background: #025b96;
  color: rgb(218, 215, 215); */
  background:#1777d0;
  color: white;
}

.htmlEditor .btn-1:hover {
  background: #01606b;
}

.htmlEditor .btn-1:active {
  background: #01606b;
  top: 1px;
}

.htmlEditor .btn-1:before {
  position: absolute;
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  line-height: 2.1;
  font-size: 140%;
}    

.htmlEditor .icon-info:before {
  content: "\f05a";
}