.controls {
  padding: 5px;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.15);
  opacity: 0;
  visibility: hidden;
}

/* dialog size */
.modal-dialog {
  width: 70vmin;
  height: 70vmin;
  position: relative;
  overflow: hidden;
}

#timer {
  position: relative;
  top: 65vmin;
  left: 55vmin;
  /* display: none;
  border-radius: 50%;
  border: 3px solid rgba(192, 0, 0, 0.87); */
  width: 100px;
  height: 19px;
  padding: 0;
  color: rgba(192, 0, 0, 0.77);
  text-align: center;
  font: 10px Arial, sans-serif;
}

.modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-polygon {
  fill: #5C9DCB;
  /* fill: #7CAFB8; */
}

.modal-content {
  position: relative;
  font-size: small;
  top: 0;
  left: 3px;
  padding: 0 3px;
  visibility: hidden;
  opacity: 0;
  color: rgba(255, 255, 255, 0.87);
}

@media only screen and (max-width: 740px) {
  .modal-content {
    font-size: x-small;
    padding: 0 10px;
  }

  #timer {
    left: 65vmin;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content {
    font-size: xx-small;
  }

  #timer {
    top: 75vmin;
    left: 41vmin;
  }

  .modal-dialog {
    height: 80vmin;
  }
}