	.h2_icon a {
      text-align: center;
      margin: 3px;
      vertical-align: bottom;
      height: 32px;
      width: 32px;
      line-height: 0;
      background-size: 32px auto;
      text-indent: -999999px;
      -webkit-transition: none;
      transition: none;
  }

  .lineicon {
    float: right;
    background: url(../images/line_48.svg) no-repeat; 
    background-size: 32px 32px !important;
  }	
  
  .facebook {
    float: right;
    background: url(../images/facebook_48.svg) no-repeat;
    background-size: 32px 32px !important;
  }

  .lineicon:hover {
      background: url(../images/line_48_hover.svg) no-repeat;
      background-size: contain;
  }	

  .facebook:hover {
    background: url(../images/facebook_48_hover.svg) no-repeat;
    background-size: contain;
  }

  a.lineicon, a.facebook {
      color: #1264A3;
      text-decoration: none;
      -webkit-transition: all 0.15s linear;
      transition: all 0.15s linear;
      display: inline-block;
      position: relative;
      word-break: break-word;
  }