/* 右邊SOP選項 */
.headerMenu {
	float: right;
	padding-top: 50px;
}

.headerMenu::before {
	content: '';
	width: 73px;
	height: 46px;
	display: inline-block;
	vertical-align: bottom;
}

.headerMenu>ul {
	display: inline-block;
	margin-bottom: 5px;
}

.headerMenu>ul>li {
	display: inline-block;
	font-size: 0.9em;
	line-height: 120%;
	padding: 2px 10px;
	border-right: 1px solid #aaa;
}

.headerMenu>ul>li>a>img {
	margin-right: 0px;
	width: 36px;
	height: 36px;
	padding: 1px;
}

.headerMenu>ul>li:last-child {
	border-right: none;
}

/* dropdown menu-Start */
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	font-size: 1.1em;
	min-width: 175px;
	box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
	padding: 7px 10px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
	display: block;
}

p strong a {
	display: block;
	/* left */
	text-align: justify;
	color: #333;
	border-bottom: 1px dashed #ccc;
	margin: 10px 5px;
}

p strong a:hover {
	background-color: #b9ceff;
	color: #fff;
}

/* dropdown menu-End */

/* search bar-Start */
.search-form-wrapper {
	font-size: 0.9rem;
	z-index: 999;
	display: none;
	position: absolute;
	width: 400px;
	left: 73%;
	/* 調水平位置  */
	padding: 9px;
	/* 調與上方距離 */
	margin-top: 157px;
	background: #e7e7e78f;
	border-radius: 8px;
}

.search-form-wrapper.open {
	display: block;
}

.input-group-addon {
	background: #92b4f3;
}

.input-group {
	height: 32px;
	left: 5px;
}

.input-group #search_e {
	width: 30%;
	margin-top: 0px;
	border-radius: 3px;
}

.input-group #search_e:focus {
	background-color: #9AE22E;
	color: #243f5f;
}

#search-bar,
#search-bar-e,
#adv-search-bar {
	width: 48px;
	height: 37px;
	border: 0;
	padding: 8px 0;
	border-radius: 3px;
	color: #faf9fa;
	background: #4D90FE;
	cursor: pointer;
	text-align: center;
	vertical-align: bottom;
}

#search-bar:hover,
#search-bar-e:hover,
#adv-search-bar:hover {
	border: 1px dashed rgb(245, 233, 5);
	background: #0462f9;
}

/* search bar-Enfd*/

.desc-content {
	left: 10px;
	padding: 20px;
	margin-top: 100px;
}