/* 版型設定 導覽列設定 */


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
		Main containers
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#Wrapper {
    width: 1024px !important;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    background: url(../images/BG_wrapper.gif) repeat-y top;
    position: relative;
    font-family: "微軟正黑體"
}

#mainContent {
    padding: 20px 0 0 0;
    margin: 0;
    background: url(../images/BG_mainContent.jpg) no-repeat top;
}

#DivLeft {
    float: left;
    width: 170px;
    padding: 0 0 0 25px;
}

#DivRight {
    float: right;
    width: 170px;
    padding: 0 30px 0 0;
}

#DivContent {
    float: left;
    width: 550px;
    margin: 0 0 0 40px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
		Header		
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#Header {
    position: relative;
    height: 250px;
    background: url(../images/bg_Header.jpg) no-repeat;
}

#Header_ct {
    position: relative;
    height: 200px;
    background: url(../images/bg_Header.jpg) no-repeat;
}


/*------------ Logo -------------*/

H1 {
    height: 50px;
    width: 200px;
    background: none;
    top: 36px;
    left: 67px;
    position: absolute;
    z-index: 130;
    margin: 0px 0 0 0px;
}


/*---------- TopMenu 上方輔助導覽列-----------*/

#top-menu {
    width: 190px;
    position: absolute;
    right: 14px;
    top: 18px;
    padding: 0;
    margin: 0;
    text-align: left;
}

#top-menu ul {
    white-space: nowrap;
}

#top-menu ul li {
    margin: 0;
    padding: 0;
    color: #666666;
    float: left;
    background: url(/dispPageBox/demo/images/btn_topMenu.gif) no-repeat;
}

#top-menu ul li a {
    color: #000000;
    font-size: .7em;
    padding: 0;
    display: block;
    white-space: nowrap;
    width: 100%;
    display: block;
    height: 15px;
}

#top-menu ul li a:hover {
    color: #000;
}

#top-menu ul li a em {
    /*如果要改用動態文字呈現，可以將em設為 display:block; position:fixed; font-style:normal;  即會顯示*/
}


/*li 個別樣式設定*/

#top-menu ul li.menu1 {
    width: 51px;
    background-position: 0 -13px;
}

#top-menu ul li.menu2 {
    width: 67px;
    background-position: -52px -13px;
}

#top-menu ul li.menu3 {
    width: 61px;
    background-position: -119px -13px;
}

#top-menu ul li.menu1:hover,
#top-menu ul li.menu1:active,
#top-menu ul li.menu1:focus {
    background-position: 0 2px;
}

#top-menu ul li.menu2:hover,
#top-menu ul li.menu2:active,
#top-menu ul li.menu2:focus {
    background-position: -52px 2px;
}

#top-menu ul li.menu3:hover,
#top-menu ul li.menu3:active,
#top-menu ul li.menu3:focus {
    background-position: -119px 2px;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
			MainNav 橫向 + 滑過出現次選單
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#MainNav {
    font-size: .7em;
    width: 495px;
    position: absolute;
    top: 46px;
    left: 512px;
    z-index: 999;
    margin: 0;
    padding: 0;
}

#MainNav .menuDiv {}


/* ---------- 第一層每個選項的各別樣式設定 ---------- */

* html #MainNav ul.Menu {
    /* 解決IE6不理overflow問題，直接指定高度 */
}

* html #MainNav ul.Menu li {
    /* 解決IE6條列式餘白問題*/
    display: inline;
}

#MainNav ul.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

#MainNav ul.Menu li {
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    background: url(/dispPageBox/demo/images/btn_mainNav.png) no-repeat;
    _background: url(/dispPageBox/demo/images/btn_mainNav.gif) no-repeat;
}

#MainNav ul.Menu li a {
    color: #cccccc;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    /* 這邊也要設float，否則IE6會以100%寬度顯示 */
    float: left;
}

#MainNav ul.Menu li.menu1 {
    width: 82px;
    height: 50px;
    background-position: -5px 0px;
}

#MainNav ul.Menu li.menu2 {
    width: 82px;
    height: 50px;
    background-position: -88px 0px;
}

#MainNav ul.Menu li.menu3 {
    width: 82px;
    height: 50px;
    background-position: -168px 0px;
}

#MainNav ul.Menu li.menu4 {
    width: 82px;
    height: 50px;
    background-position: -250px 0px;
}

#MainNav ul.Menu li.menu5 {
    width: 82px;
    height: 50px;
    background-position: -331px 0px;
}

#MainNav ul.Menu li.menu6 {
    width: 82px;
    height: 50px;
    background-position: -410px 0px;
}


/*滑過樣式*/

#MainNav ul.Menu li.menu1:hover {
    background-position: -5px -48px;
}

#MainNav ul.Menu li.menu2:hover {
    background-position: -88px -48px;
}

#MainNav ul.Menu li.menu3:hover {
    background-position: -168px -48px;
}

#MainNav ul.Menu li.menu4:hover {
    background-position: -250px -48px;
}

#MainNav ul.Menu li.menu5:hover {
    background-position: -331px -48px;
}

#MainNav ul.Menu li.menu6:hover {
    background-position: -410px -48px;
}


/* ---------- 第二層每個選項的各別樣式設定 ---------- */

*:first-child+html #MainNav ul.Menu li ul {
    /* 修正IE7絕對定位差異 */
    margin-top: 0;
}

* html #MainNav ul.Menu li ul {
    /* 修正IE6絕對定位差異 */
    margin-top: 0;
}

#MainNav ul.Menu li ul li:hover,
#MainNav ul.Menu li ul li a:hover {
    /* 觸動第二層以上li時改變背景色 */
    background: #dfdfdf;
}

#MainNav ul.Menu li ul {
    /* 讓第二層ul跳脫文件流以利定位 */
    position: absolute;
    z-index: 999;
    /* 固定寬度 */
    width: 150px;
    /* 避免出現捲軸 */
    overflow: visible;
    /* 讓ul與母階層li相同位置 */
    clear: left;
    /* 再利用margin作定位 */
    margin: 50px 0 0 0;
    background: #f7f7f7;
    border: #fff solid 1px;
}

#MainNav ul.Menu li ul li {
    /* 第二層以上固定寬度 */
    width: 150px;
    /* 覆寫繼承自第一層的浮動設定 */
    float: none;
    background: none;
    border-bottom: #fff solid 1px;
}

#MainNav ul.Menu li ul li a {
    /* 覆寫繼承自第一層的浮動設定 */
    float: none;
    /* 註：display、height、padding繼承第一層的設定 */
    font-size: 11px;
    color: #333333;
    font-weight: normal;
    text-decoration: none;
}

#MainNav ul.Menu li ul li a em {
    position: static;
    font-style: normal;
    padding: 0 10px;
}


/* ---------- 第三層每個選項的各別樣式設定 ---------- */

*:first-child+html #MainNav ul.Menu li ul li ul {
    /* 修正IE7絕對定位差異 */
    margin-top: 0;
}

#MainNav ul.Menu li ul li ul {
    /* 利用margin作定位 */
    margin: -25px 0 0 150px;
}

#MainNav ul.Menu li ul li ul li {
    /* width、float繼承第二層，免設定 */
}

#MainNav ul.Menu li ul li ul li a {
    /* width、float繼承第二層，免設定 */
}


/* ---------- 隱藏與顯示階層 ---------- */

#MainNav ul.Menu li ul {
    /* 預先隱藏第二層 */
    visibility: hidden;
}

#MainNav ul.Menu li:hover ul,
#MainNav ul.Menu li.menu1:hover ul,
#MainNav ul.Menu li.menu2:hover ul,
#MainNav ul.Menu li.menu3:hover ul,
#MainNav ul.Menu li.menu4:hover ul,
#MainNav ul.Menu li.menu5:hover ul,
#MainNav ul.Menu li.menu6:hover ul {
    /* 觸動第一層時，顯示第二層 li:hover各樣式都要設定一次*/
    visibility: visible;
}

#MainNav ul.Menu li:hover ul li ul,
#MainNav ul.Menu li.menu1:hover ul li ul {
    /* 顯示第二層時，隱藏第三層，避免同時彈出 */
    visibility: hidden;
}

#MainNav ul.Menu li ul li:hover ul,
#MainNav ul.Menu li.menu1 ul li:hover ul {
    /* 觸動第二層時，顯示第三層，如果li有設class樣式，要再寫一次 */
    visibility: visible;
}

#MainNav ul.Menu li ul li:hover ul li ul {
    /* 顯示第三層時，隱藏第四層，避免同時彈出*/
    visibility: hidden;
}

#MainNav ul.Menu li ul li ul li:hover ul {
    /* 觸動第三層時，顯示第四層 */
    visibility: visible;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
			MainNav直向 + 滑過出現次選單
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#MainNav_Vertical {
    font-size: .7em;
    margin: 0;
    padding: 0;
    width: 150px;
}

#MainNav_Vertical .menuDiv {
    margin: 7px 0 0 0;
}


/* ---------- 第一層每個選項的各別樣式設定 ---------- */

* html #MainNav_Vertical ul.Menu {
    /* 解決IE6不理overflow問題，直接指定高度 */
}

* html #MainNav_Vertical ul.Menu li {
    /* 解決IE6條列式餘白問題*/
}

#MainNav_Vertical ul.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 100%;
}

#MainNav_Vertical ul.Menu li {
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
    overflow: hidden;
    height: 100%;
}

#MainNav_Vertical ul.Menu li:hover {}

#MainNav_Vertical ul.Menu li em {
    display: block;
    position: static;
    font-style: normal;
}

#MainNav_Vertical ul.Menu li a {
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0 0 0;
    height: 38px;
    margin: 0 auto;
    text-align: center;
    background: url(/dispPageBox/demo/images/btn_mainNav_Vertical.gif) no-repeat top left;
}

#MainNav_Vertical ul.Menu li a:hover {
    background: url(/dispPageBox/demo/images/btn_mainNav_VerticalHover.gif) no-repeat top left;
}


/* ---------- 第二層每個選項的各別樣式設定 ---------- */

*:first-child+html #MainNav_Vertical ul.Menu li ul {
    /* 修正IE7絕對定位差異 */
    margin-top: 0;
}

* html #MainNav_Vertical ul.Menu li ul {
    /* 修正IE6絕對定位差異 */
    margin-top: 0;
    visibility: visible;
    display: block;
}

#MainNav_Vertical ul.Menu li ul li:hover,
#MainNav_Vertical ul.Menu li ul li a:hover {
    color: #006699;
    background: #fff;
    height: auto;
}

#MainNav_Vertical ul.Menu li ul {
    margin: 0;
}

#MainNav_Vertical ul.Menu li ul li {
    background: none;
    border-bottom: #336699 dotted 1px;
    text-align: left;
}

#MainNav_Vertical ul.Menu li ul li a {
    /* 覆寫繼承自第一層的浮動設定 */
    float: none;
    text-align: left;
    height: auto;
    padding: 0;
    font-size: 11px;
    color: #333333;
    font-weight: normal;
    text-decoration: none;
    background: none;
}

#MainNav_Vertical ul.Menu li ul li a em {
    position: static;
    font-style: normal;
    padding: 0 10px;
}


/* ---------- 隱藏與顯示階層 ---------- */

#MainNav_Vertical ul.Menu li {}

#MainNav_Vertical ul.Menu li ul {
    display: none;
}

#MainNav_Vertical ul.Menu li:hover ul {
    display: block;
    visibility: visible;
    height: auto !important;
}

#MainNav_Vertical ul.Menu li:hover ul li {
    visibility: visible;
    height: auto;
}

#MainNav_Vertical ul.Menu li:hover ul li ul,
#MainNav_Vertical ul.Menu li.menu1:hover ul li ul {
    /* 顯示第二層時，隱藏第三層，避免同時彈出 */
    visibility: hidden;
}

#MainNav_Vertical ul.Menu li ul li:hover ul,
#MainNav_Vertical ul.Menu li.menu1 ul li:hover ul {
    /* 觸動第二層時，顯示第三層，如果li有設class樣式，要再寫一次 */
    visibility: hidden;
}

#MainNav_Vertical ul.Menu li ul li:hover ul li ul {
    /* 顯示第三層時，隱藏第四層，避免同時彈出*/
    visibility: hidden;
}

#MainNav_Vertical ul.Menu li ul li ul li:hover ul {
    /* 觸動第三層時，顯示第四層 */
    visibility: hidden;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
			Footer
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#Footer {
    font-size: .7em;
    height: 150px;
    margin: 0 14px 0 10px;
    padding: 0;
    background: #f3f3f3;
    border-top: #c7c7c7 solid 5px;
    clear: both;
}

#Footer .footDiv {
    margin: 0;
    position: relative;
}


/*logo*/

.footLogo {
    position: absolute;
    top: 18px;
    left: 25px;
    width: 190px;
    height: 25px;
    display: block;
}

.footLogo a:link,
.footLogo a:hover,
.footLogo a:active,
.footLogo a:active {
    width: 100%;
    height: 100%;
    display: block;
}

.footLogo em {
    display: none;
}


/*資訊*/

.footInfo {
    position: absolute;
    top: 50px;
    left: 25px;
    width: 330px;
    line-height: 1.5em;
    display: block;
}


/*相關連結*/

.footLink {
    white-space: nowrap;
    overflow: visible;
    width: 700px;
    margin: 0;
    position: absolute;
    top: 18px;
    right: 0;
}

.footLink ul {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.footLink ul li {
    text-align: left;
    float: left;
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;
    white-space: nowrap;
}

.footLink ul li a {
    color: #999999;
}

.footLink ul li a:hover {
    color: #000;
}

.footLink ul li a em {
    position: static;
    display: block;
    font-style: normal;
}

.footLink ul li ul {
    margin: 0;
    padding: 0;
}

.footLink ul li ul li {
    line-height: 1.5em;
    float: none;
    display: block;
    padding: 0 0 0 10px !important;
    margin: 0 !important;
    background: url(/dispPageBox/demo/images/footerlink_line.gif) no-repeat left -8px;
}

.footLink ul li ul li a {
    color: #999999;
    font-weight: normal;
    float: none;
}

.footLink ul li ul li a:hover {
    color: #000;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
	DISP Web Demo  2010 - All Rights Reserved.	
	
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */


/* 
CSS Document 
CSS-P Style writed by zoe / 2010-08-11
www.uTrust.com.tw / contact@utrust.com.tw*/