@charset "utf-8";
/* CSS Document */            
/*                版型功能設定   
=====================================================*/

/* 內容標題設定
-------------------------------------------*/
h1, h2, h3, h4, h5, h6 { clear:both; font-family:"微軟正黑體", Verdana,Arial, sans-serif; font-weight:normal;}
h1 { font-size:20px; margin-bottom:15px;}
h2 { font-size:15px !important; margin-bottom:10px !important;}
h2 span { font-size:20px; margin-bottom:15px; font-weight:bold;}
h3 { font-family: Tahoma, Arial, sans-serif;}
p { font-size:13px; line-height:20px; margin-bottom:15px; margin-top:10px;}
hr { clear:both; width:100%; height:0px; border:0; margin:0px; }

/* 內容區塊設定 - 主內容區
-------------------------------------------*/
#wrapper { /*亦可設min、max寬度*/width:99%; margin:0 auto; padding:0; height:100% !important;}
#mainbg { float:left; width:100%; position:relative; min-height:760px;/* min-height:670px\9; max-height:100% !important;*/}
#maincontent { width:100%; margin-left:-280px; background:url(../images/siderep.png) 185px 0 repeat-y; padding-bottom:30px; float:right; position:relative;  }
#content{ margin:16px 10px 0 225px; padding:20px 10px 10px 10px; border: #E6ECEC 1px solid;clear:both; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background:#FFFFFF}

/*Header設定
-------------------------------------------*/
#header{ width:100%; height:110px;}
#header #top{ display:block; width:100%; height:110px;}
#top .logo{ float:left; display:inline; width:200px; margin-top:17px;}
#top .UserSet{ float:right; position:relative; /*padding-right:5px;*/ margin-top:27px; position:relative;}
.UserSet .Management { /* 網站管理 */ width:500px; position: absolute; text-align:right; top:35px; right:0px; margin-bottom:2px;color:#333; }
.UserSet .Management span { padding:0 ; font-weight:bold;}

.UserSet ul { width:100%;/*320px*/ width:330px\9; position:relative }
.UserSet ul li {}
.UserSet ul li em { font-style:normal !important;}
.UserSet ul li.Management { /* 網站管理 */text-align:right; margin-bottom:2px;color:#333; }
.UserSet ul li.Management span { padding:0 ; font-weight:bold;}
.UserSet ul li.User {/* 使用者*/float:left; margin-top:15px; color:#333; padding:0 5px 0 55px; }
.UserSet ul li.Account { /* 帳戶管理 */float:right;margin-bottom:5px; color:#333; width:95px\9; }
.UserSet ul li.Account a em{ background:url(../images/Icon_Account.png) 0 -1px no-repeat; padding:0 0 0 18px; }
.UserSet ul li.Logout {/* 登出*/float:right;margin-bottom:5px;color:#333; width:75px\9; }
.UserSet ul li.Logout a em{ background:url(../images/Icon_logout.png) -1px 0 no-repeat; padding:0 0 0 20px; }
.UserSet ul li a {float:right; margin:5px 0px 0 5px; font-size:11px; text-decoration:none; padding:3px 9px !important;}
.UserSet ul li a span {}
.UserSet ul li.ui-icon { float:left;}

/* 左方選單/ 摺疊面版樣式
----------------------------------------------------------------------*/
#sidebar { float:left ; position: absolute; width:200px;width:190px\9; padding: 0 10px !important; top:12px !important; }
#accordion{ height:100% !important;}
#sidebar h2 { margin-top:30px; }
#accordion h4 { /* 主選單標題*/ font-family:"微軟正黑體", Verdana,Arial, sans-serif; font-size:14px; line-height:23px;}
#sidebar p { margin-bottom:0; padding:5px;}
#sidebar p.active{color: #4BA9BA;}
#sidebar p a { color: #666;}
#sidebar p a:hover,#sidebar p a:active { color: #4BA9BA;padding:5px;}
#sidebar .sort { display:inline-block; width:234px;}
.sort .portlet { width:100%;}
#sidebar ul.list { width:218px; margin-bottom:30px !important;}
#sidebar ul.list li {padding:5px 25px;}
#sidebar ul.list li ul{ width:190px;margin:3px 0 0 20px ;}
#sidebar ul.list li ul li { width:165px;}
#sidebar ul.list li ul li ul li { width:140px;}
#sidebar li.last { border-bottom:0;}

/* MainContent - 內容訊息區
-------------------------------------------------------------------   */
#dispinfo { display:block; width:100%;color:#666;}
#dispinfo h2 { padding-left:3px; color:#333333; font-weight:bold; }
#dispinfo h4 em{font-weight:normal;font-style:normal !important;}
#dispinfo .dispwelcome{/* 歡迎用語*/ border: #ecdfbb 2px solid;clear:both; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #fffdd2; width:98.5%; padding:1.5% 0.5%;display:block; float:left;  }
#dispinfo .dispwelcome h2 { padding:0 0 8px 3px; color:#333333; font-weight:bold; }
#dispinfo .dispwelcome p { padding-left:5px;}
#dispinfo .dispwelcome p img{ vertical-align:bottom;}
#dispinfo .dispGA{/*網站流量*/display:block; float:left; width:99%;padding:5px;color:#666; margin-top:10px; background:#FFFFFF; }
#dispinfo .dispNews { /*系統訊息*/display:block; float:left; width:99%;padding:5px;color:#666; }
#dispinfo .dispProject { /*網站資訊*/display:block; float:left; width:49.75%;padding:5px 0;color:#666;} 
#dispinfo .dispPromoter { /*權責單位資訊*/display:block; float:left; width:49.75%;padding:5px 0;color:#666;}
.infobox { padding:2px;}
.infobox h4 {padding:5px; line-height:15px !important;}
.infobox h4 em { font-style:normal !important;/*display:inline;*/ padding:7px 5px 8px 10px; font-weight:bold !important; font-size:14px;}
.infoboxcontent { padding:12px 10px;height:100%; overflow:hidden;}
.infoboxcontent iframe#ga { width:100%; height:380px; overflow:hidden;}
.infoboxcontent iframe#rssnews { width:100%; height:120px; overflow:hidden; }
.infoboxcontent iframe#rssproj { width:100%; height:120px; overflow:hidden; }
.ui-sortable-placeholder { padding:0; visibility:visible!important;} 
.box { clear:both; float:left; width:90%;}

/* 共用樣式 */
ul.InfosList{ list-style: url(../images/icon_ColsList.gif); padding:0 5px 0 30px; font-size:13px !important;line-height:23px !important; }
ul.InfosList li{ color:#666; }
ul.InfosList li.name{ /*專案名稱*/}
ul.InfosList li.name em{font-style:normal !important;}
ul.InfosList li.pubdate{/*專案建立日期*/ }
ul.InfosList li.pubdate em{ font-style:normal !important;}
ul.InfosList li.enddate{ /*保固日期*/}
ul.InfosList li.enddate em{ font-style:normal !important;}
ul.InfosList li.version{/*系統版本*/ }
ul.InfosList li.version em{font-style:normal !important;}
ul.InfosList li.memo{ /*專案備註*/}
ul.InfosList li.memo em{ font-style:normal !important;}
ul.InfosList li.unit{ /*承辦單位/ 維護窗口 / 維護電話*/}
ul.InfosList li.unit em{  font-style:normal !important;}
ul.InfosList li a{ color:#666;}
ul.InfosList li a:link{  border-bottom: none; }
ul.InfosList li a:hover{ border-bottom:#4BA9BA dotted 1px; color:#4BA9BA}

/* Footer 
----------------------------------------------------------------------*/
#footer { clear:both; width:100%; display:block; height:118px; background: #2A2A2A!important; position:relative;}
#footer .Info {margin:20px 0 0 40px; float:left;color:#999 }
#footer .Icon { position:absolute; top:10px; right:280px; width:253px; height:30px; display:block; background:url(../images/Icon_DISP.png) no-repeat; }
#footer .Icon em { display:none; }
#footer .CopyRight { float:right; margin:20px 35px 0 0; color:#999999; }



#loader{zoom:1;position:absolute; top:0;left:0;z-index:98;background-color:#fff;filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.6; display:none; width:100%; height:100%; }
#loader p{zoom:1;position:absolute; top:300px;left:48%;z-index:99;}
#loader img{margin:auto; width:70px; height:70px;}
#loader span{ display:block; width:70px; text-align:center; margin:auto; color:#000;}


/*************************************************************************************************
 │DISP V6.0 All Rights Reserved. │ Polly Liu │ www.uTrust.com.tw │ contact@utrust.com.tw │
*************************************************************************************************/