@charset "utf-8";
/* CSS Document */
/*                 整體版型、樣式設定     
=====================================================*/

body { background:#fff url(../images/bg_Header.png) 0 0 repeat-x;}

body,html{ /*捲軸樣式設定*/
	scrollbar-face-color:#f1f1f1;
	scrollbar-highlight-color:#fefefe;
	scrollbar-shadow-color:#f0f0f0;
	scrollbar-3dlight-color:#d9d9d9;
	scrollbar-arrow-color:#888888;
	scrollbar-track-color: #f8f8f8;
	scrollbar-darkshadow-color:#b8b8b8;
	scrollbar-base-color: #ffffff; }

h1, h2, h3, h4, h5, h6 { color:#666666;}
h1 span { color:#333333;}
p { color:#666666;}
hr {/* for ie*/ border-top:1px dotted #FFFFFF\9;/* chrome、firefox、safari */}


/* 特殊功能樣式設定
-------------------------------------------------------------------   */
input.BtnAdd{/* 新增 */color: #FFF; background: #818080 ; border: #666666 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer;  
/*for ie*/border-radius: 3px; }
input.BtnDel{/* 刪除 */color: #FFFFFF; background:#fc9295 ; border: #e28285 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer;}
input.BtnEdit {/* 編輯 */color: #FFFFFF; background: #7DBACE; border: #649CBB 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer;}
input.BtnSearch {/* 查詢 */color: #FFFFFF; background: #41759C; border: #2097b3 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer;}
input.BtnAdvanced {/* 進階查詢 */color: #FFFFFF; background: #22b9c5; border: #22b9c5 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer;}
input.BtnSubmit{/* 資料送出 */color: #FFFFFF;background: #787777 ; border: #333333 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnPack {/* 下載封包 */color: #999999; background: #F2F2F2 ; border: #999999 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnAttach{/* 上傳附加檔案 */color: #FFFFFF; background: #cfd367 ; border: #b9bd5d 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnRemit{/* 匯出關係總表 */color: #FFFFFF;background: #787777 ; border: #333333 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnOpen{/* 開啟視窗 */color:#999999; background: #F0F0F0 ; border: #D9D9D9 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnReturn{/* 返回列表 */color: #FFFFFF;background: #787777 ; border: #333333 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnRenew{/* 更新 */color: #FFFFFF;background: #787777 ; border: #333333 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnView{/* 瀏覽 */color:#999999; background: #F0F0F0 ; border: #C1C1C1 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnRoot{/* 根目錄 */color:#FFFFFF; background: #BCBCBC ; border: #ADADAD 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnWindow{/*開啟視窗*/color: #999999; background: #F0F0F0 ; border: #D9D9D9 1px solid!important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer; }
 
/* 一般功能樣式設定 /
-------------------------------------------------------------------   */
input.BtnCommon{/* 一般常用 */color: #FFFFFF; background:#f6f6f6 url(../images/Btn_Common.png) repeat-x top left; border: #D2E1E1 1px solid  !important;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}

/* 按鈕一般樣式設定 /
--------------------------------*/
a.button { background:url(../images/bg_line.png) 0 0 repeat-x; border:1px solid #CCCCCC; color:#FFFFFF!important; padding:5px 8px;cursor:pointer;}
a.button .ui-icon { /*background-image: url();*/}
a:hover.button,input:hover.button { color: #069!important; border:1px solid #3F7C94!important;}

/* 特殊按鈕設定 /
-------------------------------------------*/
a.BtnSearch{/* 查詢 */color: #4B585F; background: #EEEEEE url(../images/Btn_St1.png) repeat-x top left; border: #BFBFBF 1px solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}

/* 使用者訊息 / 帳號管理 /
--------------------------------*/
.UserSet p a { color: #FF2115;}
.UserSet ul li.Logout a{/* 登出*/background:#ff7380; }
.UserSet ul li a { background: url(../images/Btn_funLog.png) 50% 50% repeat-x;padding:3px 10px 3px 5px; color:#333333; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* 左方選單樣式 / 
--------------------------------*/
#sidebar h2 { border-bottom:1px dotted #d3d3d3;}
#accordion h4 {background:url( ../images/bg_line.png) repeat-x; color:#FFFFFF; padding:5px;font-weight:bold !important;}

#accordion h4:hover {background:url( ../images/bg_line_h.png) repeat-x;padding:5px;font-weight:bold !important;}
#sidebar p a:hover,#sidebar p a:active { color: #FFFFFF; font-weight:bold; background:#F0C868 url( ../images/bg_line_G.png) repeat-x ; padding:5px; width:100% !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
#sidebar p.active a{color: #FFFFFF; font-weight:bold !important; background: #F0C868 url( ../images/bg_line_G.png) repeat-x; padding:5px; width:auto!important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
#sidebar ul{}
#sidebar ul li { border-bottom:1px Funtioned #EEEEEE; background:url(../images/arrow_left.png) 5px 11px no-repeat;}
#sidebar ul li:hover { background:url(../images/arrow_left_hover.png) 5px 11px no-repeat;}
#sidebar ul li a { text-decoration:none; color:#555; font-size:11px;}
#sidebar ul li a:hover { color: #999;}
.infobox h4 { background:url( ../images/bg_line.png) repeat-x; color:#FFF; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.infoboxcontent { background:url(../images/bg_infobox.png) 0 0 repeat-x; }

/* Footer樣式 / 
--------------------------------*/
#footer { background:#FFFFFF;/*#202020;*/ border-top: 2px double #666666; border-bottom: #5A5A5A 5px solid }


ul.Funtion li a { color:#555555; background:url(../images/largebut.png) 0 0 no-repeat;}
ul.Funtion li a:hover {background:url(../images/largebut_hover.png) 0 0 no-repeat;}

/* UI樣式 / 
--------------------------------*/
.ui-sortable-placeholder {background:#ffffcc!important;border:1px dotted #f1aa2d!important;}
	
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-widget {font-size: 1.1em;}

.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button {font-size: 1em;}
.ui-widget-content { border: 1px solid #f0f0f0; background: #FFFFFF url(../images/input_co.png) 0 0 repeat-x; color: #555555; }
.ui-widget-content a { color: #000; }
.ui-widget-header { border: 1px solid  #CCC; background: #FFFFFF url(../images/bg_line.png) 0 0 repeat-x; color: #FFFFFF; font-weight: normal; }
.ui-widget-header a { color: #FFFFFF; }

.ui-icon { width: 16px; height: 16px; /*background-image: url();*/}
.ui-widget-content .ui-icon {/*background-image: url();*/ }
.ui-widget-header .ui-icon {/*background-image: url();*/ }

.ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-top { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.ui-corner-bottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-right {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.ui-corner-left { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.ui-corner-all { -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 5px; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 12px; padding: .5em .5em .5em 2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 10px; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; line-height:20px; font-size:13px; color:#666; }
.ui-accordion .ui-accordion-content-active { display: block; }
.ui-progressbar { height:2em; text-align: left; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }

.ui-tabs { padding: .2em; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } 
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

.infobox-header .ui-icon { position:relative;margin-top:-1px;float:right;cursor:pointer;}

/*************************************************************************************************
 │DISP V6.0 All Rights Reserved. │ Polly Liu │ www.uTrust.com.tw │ contact@utrust.com.tw │
*************************************************************************************************/