@charset "utf-8";
/* CSS Document */
/*                頁框樣式設定   
=====================================================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, 
center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,input, textarea, select,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;padding: 0; border: 0;outline: 0;	font-size: 100%;}
* { margin:0;padding:0;list-style-type: none;text-decoration: none;}
ol,ul {list-style: none; list-style-type:none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: ''; content: none;}
html { font-size: 100%; margin: 0;padding: 0;}
body { font-family:"微軟正黑體",Arial, sans-serif; font-size:12px; /*position:relative;*/margin: 0; padding: 0;line-height: 1.5em; color: #666666; overflow:auto;
     /*捲軸樣式設定*/
	scrollbar-face-color:#f1f1f1;
	scrollbar-highlight-color:#fefefe;
	scrollbar-shadow-color:#f0f0f0;
	scrollbar-3dlight-color:#d9d9d9;
	scrollbar-arrow-color:#888888;
	scrollbar-track-color: #f8f8f8;
	scrollbar-darkshadow-color:#b8b8b8;
	scrollbar-base-color: #ffffff; 
	/* ipod touch / iphone text resize */
	-webkit-text-size-adjust:none;}

/*iframe table
---------------------------------------------------------*/

#TableSetThLeft {color:#666666 !important; margin:20px 0 0 10px; font-family:"微軟正黑體"; font-size:12px;}
#TableSetThLeft table{padding:0 !important;margin:0 !important; word-wrap:normal; text-align:left;font-size:12px; border:#d5dedf 1px solid}
#TableSetThLeft th{background: #F3F3F3; color:#666666; font-weight:normal;padding:3px 8px ;  }
#TableSetThLeft th.title{background: url(../images/bg_inside.png) repeat-x;  color:#666666; font-weight:normal;padding:8px ; text-align:center; border-bottom:#d5dedf 2px solid  }
#TableSetThLeft th span{ text-align:center; color:#333333; font-weight:bold; font-size:14px;}
#TableSetThLeft td{ padding:4px 8px !important; margin:0 !important; text-align:left !important;color:#666666 !important;border-bottom:#d5dedf 1px dotted !important; }
#TableSetThLeft td span{ color:#666666 !important; }
#TableSetThLeft td a{ padding:0 !important; margin:0 !important;}
#TableSetThLeft div table td { padding:0 !important; margin:0 !important; border:0 !important;}
#TableSetThLeft td img{ display:block;}
#TableSetThLeft td.submit{ /*送出 / 返回列表*/background: url(../images/bg_inside_dw.png) repeat-x; border-top: #d4d3d3 2px double!important; text-align:center !important; }

input, textarea, select { padding:5px !important; margin:2px 0 2px 10px !important;background:url(../images/input.png) 0 0 repeat-x;border: #DBE6E6 1px solid !important; color: #999;-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
select option { padding:2px;}
input[type="checkbox"], input[type="radio"] { border: #DBE6E6 1px solid !important;}

/* Edit Window */
.cke_skin_kama input.cke_dialog_ui_input_text, .cke_skin_kama input.cke_dialog_ui_input_password  { background-color: transparent !important ; border: none !important; padding: 0!important ; width: 95% !important; height: 14px !important;}
.cke_skin_kama a.cke_dialog_tab, .cke_skin_kama a:link.cke_dialog_tab, .cke_skin_kama a:active.cke_dialog_tab, .cke_skin_kama a:hover.cke_dialog_tab, .cke_skin_kama a:visited.cke_dialog_tab {
height: 14px !important;
padding: 4px 8px !important;}
.cke_skin_kama .cke_dialog_ui_input_select { margin:0 !important}

input.BtnDel{/* 刪除 */padding: 4px 6px !important; margin:10px 2px;font-family:"微軟正黑體", Arial,sans-serif; font-size: 12px;font-weight:bold; color: #FFFFFF; background:#fc9295 ; border: #e28285 1px solid  !important;
 -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer; /* for ie*/overflow: visible; *width: 1;  line-height:10px\9; }
input.BtnSubmit{/* 存檔 */padding: 4px 6px !important; margin:10px 2px;font-family:"微軟正黑體", Arial,sans-serif; font-size: 12px;font-weight:bold; color: #FFFFFF; background: #5e5e5e ; border: #333333 1px solid  !important; 
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer; /* for ie*/overflow: visible; *width: 1;  line-height:10px\9; }
input.BtnGA{/* 擷取資料 */padding: 4px 8px  !important; font-family:"微軟正黑體", Arial,sans-serif; font-size: 12px;font-weight:bold; /* for ie*/overflow: visible; *width: 1; line-height:15px\9;color: #999999; background: #F0F0F0 ; color: #FFFFFF;background: #787777 ; border: #333333 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; cursor:pointer;}
input.BtnAdd{/* 新增 */color: #FFF; background: #818080 ; border: #666666 1px solid  !important; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;cursor:pointer; float:right; margin:8px 0;  
/*for ie*/border-radius: 3px; padding: 4px 8px !important; font-family: "微軟正黑體",Arial, sans-serif; font-size: 12px; font-weight:bold; /* for ie*/overflow: visible; *width: 1;  line-height:15px\9;}


/* 首頁 - 網站流量
--------------------------------------------------------*/
ul.List{ list-style: none; padding:10px 5px 10px 20px; margin:10px 0 0 0; font-size:21px !important; font-family:"Arial Black"; width:97%; background: #F3F3F3; border: #E6ECEC 1px solid;clear:both; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;  }
ul.List li{ color: #388EAB; display: inline-block; padding:0 8px 0 0;line-height:30px; width:210px;  }
ul.List li span{ color:#999; font-size:12px; padding:0 0 0 5px; vertical-align:top !important  }
ul.List li a{ color:#666;}
ul.List li a:link{  border-bottom: none; }
ul.List li a:hover{ border-bottom:#4BA9BA dotted 1px; color:#4BA9BA}

/*  流量分析圖表 */
#Chart{ position: relative; width:978px; height:240px; overflow:hidden; }
#chart_browser{ /*瀏覽器造訪次數比例*/ padding:0; margin:5px 0; display:inline-block; position:absolute; left:-50px; width:500px !important; }
#chart_visitas{ /* 最近一週造訪資訊 */padding:0; margin:5px 0;display:inline-block; position: absolute; left:400px; width:540px !important;}


/* 共用樣式 */
ul.InfosList{ list-style: url(../images/icon_ColsList.gif); padding:0 5px 0 30px; font-size:13px !important;line-height:23px !important; }
ul.InfosList li{ color:#666; }
ul.InfosList li.name{ /*專案名稱*/}
ul.InfosList li.name em{font-style:normal !important;}
ul.InfosList li.pubdate{/*專案建立日期*/ }
ul.InfosList li.pubdate em{ font-style:normal !important;}
ul.InfosList li.enddate{ /*保固日期*/}
ul.InfosList li.enddate em{ font-style:normal !important;}
ul.InfosList li.version{/*系統版本*/ }
ul.InfosList li.version em{font-style:normal !important;}
ul.InfosList li.memo{ /*專案備註*/}
ul.InfosList li.memo em{ font-style:normal !important;}
ul.InfosList li.unit{ /*承辦單位/ 維護窗口 / 維護電話*/}
ul.InfosList li.unit em{  font-style:normal !important;}
ul.InfosList li a{ color:#666;}
ul.InfosList li a:link{  border-bottom: none; }
ul.InfosList li a:hover{ border-bottom:#4BA9BA dotted 1px; color:#4BA9BA}


/*                表格樣式設定   
=====================================================*/

/* 統一表格樣式 / 項目編號寬度請設15 置中 / 標題、名稱 寬度請設200 / 管理 寬度請設110 置中 / 預覽圖 寬度請設130 /
---------------------------------------------------------------------------------*/
table.tab CAPTION em{ display:none}
table.tab { width:100%; clear:both; font-size:12px; padding:1px; margin-bottom:10px; border: #F2F2F2 1px solid;}
table.tab th,table.tab td.date{ padding:9px !important; background: #26bcc4 url(../images/bg_line.png) repeat-x; color:#FFF;/*border-right: #FFFFFF 1px solid;*/ font-size:13px !important; font-weight:bold;vertical-align:top !important; line-height:14px;}
table.tab th a{/*狀態 */ color: #4BA9BA; font-weight:bold; background: #FFF url(../images/input.png) 0 0 repeat-x; border: #FFF 1px solid  !important;
-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding:1px 5px; /*為使padding能在IE裡正常執行*/overflow: visible; }
table.tab th.TreeviewRG{ /* 權限群組 */background: url(../images/bg_TreeviewRGL.png) repeat-x; text-align:center !important  }
table.tab tr.tabheader{/**/ padding:3px 0;}
table.tab th.sec{/**/ background:#7DD2D7;}
table.tab td span.lineBar{/*統計資訊長條圖*/ background:#069; display:block; height:15px; margin:4px 0;}
table.tab .row td.date{/**/background: #9CDAD3;}
table.tab tr.row{/*資料列*/ background:#FFF;}
table.tab tr.brow{/*資料列 - 底色*/ background: #E4F1F1;}
table.tab tr.brow:hover{/*資料列 - 底色*/ background: #DAECEF;}
table.tab tr.pager{/*page*/ background:#FFFFFF; text-align:right;font-size:11px;}
table.tab tr.pager td{ vertical-align:middle !important; border:#FFFFFF 1px solid}
table.tab tr.pager td select{ padding:2px 5px !important; margin-right:5px !important}
table.tab tr.pager td span{ background:none; font-size:12px; }
table.tab tr.pager td a.navigate{ font-size:11px }
table.tab tr.pager td a.navigate:hover{ color: #377976}
table.tab tr.nodata{/*無資料列*/ line-height:30px; background: #EBEBEB; text-align:center;}
table.tab thead{ height:28px; font-size:12px;}
table.tab td{ padding:3px 8px; border-right:#E0F1F1 1px dotted }
table.tab td.item{ /* 項目編號*/ width:15px; text-align:center; }
table.tab td.name{ /* 標題 / 名稱 /*/ width:250px; text-align:left; }
table.tab td.funtion{ /* 功能方面 */ background: url(../images/bg_td_b.png) repeat !important; width:110px; text-align:center; }
table.tab td a img{/* 附加檔案 - 預覽圖 */ height:60px; margin:3px auto !important; overflow:hidden; border: #D8D8D8 2px solid !important; }
table.tab td a img:hover{/* 附加檔案 - 預覽圖 */ height:60px; margin:3px auto !important; overflow:hidden; border: #969696 2px solid !important; }

table{ width:100%; font-size:12px; padding:1px; margin-bottom:10px; }
table th{ padding:5px 9px; background: url(../images/bg_line.png) repeat-x; color:#FFF; font-size:13px !important;  vertical-align:top !important; border-right: #FFFFFF 1px solid; }
table th span.style1{ color:#FFFFFF; font-size:10px;}
table th.TreeviewRG{ background: url(../images/bg_TreeviewRGL.png) repeat-x; text-align:center !important  }
table tr.tabheader{}
table tr.row{background:#FFFFFF;}
table tr.brow{background: #DAECEF; }
table tr.brow:hover{background: #E0F1ED;}
table tr.pager{background:#FFFFFF; text-align:right;font-size:11px;}
table tr.pager td{vertical-align:middle !important}
table tr.pager td span{ background:none; font-size:12px; }
table tr.pager td a.navigate{font-size:11px; }
table tr.nodata{padding:5px 10px; background: #EBEBEB; -moz-border-radius:2px; -webkit-border-radius: 2px; border-radius: 2px; text-align:center;}
table thead{ height:28px; font-size:12px;}
table td{ padding:7px 12px;}
table td a{padding:0 !important; margin:0 !important; border:0 !important;}
table td a img{ padding:0 !important; margin:0 !important; border:0 !important; display:block !important; }
table td span{ line-height:25px;color:#333333; font-weight:bold; font-size:14px;  }
#utcNoMatch{ padding:5px 10px; background: #EBEBEB; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}



/* 表格最上層 -- 部門別 / 權限
------------------------------------------------------------------------*/

table#TableSet {}
table#TableSet table{}
table#TableSet>th{ font-size:14px; font-weight:bold; vertical-align:top; padding:5px 0!important; background: url(../images/bg_line.png) repeat-x;}
table#TableSet th.TreeviewRG{ /* 權限群組 */background: url(../images/bg_TreeviewRGL.png) repeat-x; text-align:center !important  }
table#TableSet th.Species{ /* 種類 */background: url(../images/bg_TreeviewRGL.png) repeat-x; text-align:center !important  }
table#TableSet td{ padding:0 !important; margin:0 !important; text-align:left !important;vertical-align:top; }
table#TableSet td.shadow{ /**/background: #FFFFFF url(../images/bg_TreeViewRG.png) repeat-x ; padding:12px 6px!important;}
table#TableSet td a{ padding:0 !important; margin:0 !important;}
table#TableSet table td span{ color:#333; font-weight:bold; font-size:14px; vertical-align: text-top !important; line-height:18px !important}
table#TableSet div table td { padding:0 !important; margin:0 !important; border:0 !important;}
table#TableSet div table td.iframe{ /*頁框*/padding:5px !important; background:#FFFFFF !important; border-left: #E6E6E6 1px dotted !important;  }
table#TableSet td img{ display:block;}
table#TableSet hr{ display:none;}
table#TableSet p{ padding:3px 10px; font-weight:bold; background: #F5F5F5; border:#D9D9D9 1px solid; -moz-border-radius:2px; -webkit-border-radius: 2px; border-radius: 2px; margin:10px 0 0 10px }
table#TableSet ol { padding:8px 0 5px 20px; line-height:20px}


/* 權限群組 - TreeView - 
----------------------------------------------------------------------------*/
#TreeviewRG{ /*background: #FFFFFF url(../images/bg_TreeViewRG.png) repeat-x ;*/ width:100% !important; min-height:360px; margin:0 !important; padding:15px 5px !important; }
#TreeviewRG div table{ padding:0 !important; margin:0!important; display: inherit!important; width:50px\9; }
#TreeviewRG div table tr { overflow:visible !important; padding:0 !important; margin:0 !important; }
#TreeviewRG div table th {padding:0 !important; margin:0 !important; text-align:left !important; letter-spacing: 0;display: table-cell;}
#TreeviewRG div table td {padding:0 !important; margin:0 !important; text-align:left !important; letter-spacing: 0;display: table-cell;}
#TreeviewRG div table td a{ padding:0 !important; margin:0 !important; text-align:left !important; float:left !important}
#TreeviewRG div table td img{ padding:0 !important; margin:0 !important; text-align:left !important; display:block !important; }

/* TreeView table reset - 系統帳號管理、網站前台、上稿程式、共用參數、網頁版型管理、網頁程式管理、詮釋資料對應../
--------------------------------------------------------------------------- */
#TableSetBlank{ width:10% !important }
#TableSetBlank a img{ padding:0 !important; display:block !important; margin:0 !important; }
#TableSetBlank table{ display: inherit!important;padding:0 !important;margin:0 !important;  }
#TableSetBlank div table td  {padding:0 !important; margin:0 !important; text-align:left !important; }
#TableSetBlank div table td img {padding:0 !important; margin:0 !important; display:block !important;}
#TableSetBlank div table td div img {padding:0 !important; margin:0 !important; float: left !important;  }
#TableSetBlank table tr{ }
#TableSetBlank table td{ padding:0 !important; margin:0!important;text-align:left !important;}
#TableSetBlank table td img{ padding:0 !important; margin:0 !important;text-align:left !important;display:block !important;}


/*************************************************************************************************
 │DISP V6.0 All Rights Reserved. │ Polly Liu │ www.uTrust.com.tw │ contact@utrust.com.tw │
*************************************************************************************************/