.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.899902;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.087891;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.936035;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(192,0,0);}
.fs2{font-size:64.000000px;}
.fs1{font-size:92.000000px;}
.fs0{font-size:288.000000px;}
.y0{bottom:0.000000px;}
.y6{bottom:22.741875px;}
.y5{bottom:41.941879px;}
.y4{bottom:61.141878px;}
.y3{bottom:168.970276px;}
.y2{bottom:199.882275px;}
.y1{bottom:252.269562px;}
.h3{height:53.375000px;}
.h2{height:76.996094px;}
.h1{height:241.031250px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x4{left:68.681122px;}
.x2{left:238.479736px;}
.x1{left:263.979736px;}
.x3{left:341.979736px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs2{font-size:85.333333pt;}
.fs1{font-size:122.666667pt;}
.fs0{font-size:384.000000pt;}
.y0{bottom:0.000000pt;}
.y6{bottom:30.322500pt;}
.y5{bottom:55.922506pt;}
.y4{bottom:81.522504pt;}
.y3{bottom:225.293701pt;}
.y2{bottom:266.509700pt;}
.y1{bottom:336.359416pt;}
.h3{height:71.166667pt;}
.h2{height:102.661458pt;}
.h1{height:321.375000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x4{left:91.574829pt;}
.x2{left:317.972982pt;}
.x1{left:351.972982pt;}
.x3{left:455.972982pt;}
}
